.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: flex-start;
  background: #ffffff;
  position: sticky;
  min-width: 0;
  border-radius: 3px;
  padding: 7px 11px;
  border: 1px solid #dbdbd7;
}
.root__color_dark {
  background: rgb(50, 52, 54);
  border-color: rgb(74, 76, 79) /* plasmic-token: QQdIvJFj1 */;
}
.root:hover {
  border-color: #c8c7c1;
}
.root:focus-within {
  box-shadow: 0px 0px 0px 3px #96c7f2;
  outline: none;
  border-radius: 6px;
}
.root_____focusVisibleWithin {
  box-shadow: 0px 0px 0px 3px #96c7f2;
  outline: none;
  border-radius: 6px;
}
.startIconContainer {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  left: auto;
  top: auto;
  margin-right: 8px;
  display: none;
}
.startIconContainer__showStartIcon {
  display: flex;
}
.root .startIconContainer_____focusVisibleWithin {
  outline: none;
}
.slotTargetStartIcon__showStartIcon {
  color: #90908c;
}
.svg__rEvXo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.input {
  width: 100%;
  left: auto;
  top: auto;
  background: #ffffff00;
  color: #4a918e;
  min-width: 0;
  padding: 0px;
  border-width: 0px;
}
.input__isDisabled {
  cursor: not-allowed;
}
.input__color_dark {
  background: #ffffff00;
  color: rgb(255, 255, 255) /* plasmic-token: crly2HpW9GoF */;
}
.input__fontSize_small {
  font-size: 12px;
}
.root:focus-within .input {
  outline: none;
}
.root .input_____focusVisibleWithin {
  outline: none;
}
.root .input:focus {
  outline: none;
}
.root:focus-within .input:focus {
  outline: none;
}
.root .input::placeholder {
  color: #706f6c;
}
.root:focus-within .input::placeholder {
  outline: none;
}
.endIconContainer {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  left: auto;
  top: auto;
  margin-left: 8px;
  display: none;
}
.endIconContainer__showEndIcon {
  display: flex;
}
.slotTargetEndIcon__showEndIcon {
  color: #90908c;
}
.svg__si9WY {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
