.root {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox___7IrYi {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-wH7vxLqpILZx);
}
.freeBox__s0Mrn {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: var(--token-5oNedL0sHM0z);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__s0Mrn > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__s0Mrn > :global(.__wab_flex-container) > *,
.freeBox__s0Mrn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s0Mrn > :global(.__wab_flex-container) > picture > img,
.freeBox__s0Mrn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__s0Mrn {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__s0Mrn > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__s0Mrn > :global(.__wab_flex-container) > *,
  .freeBox__s0Mrn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__s0Mrn > :global(.__wab_flex-container) > picture > img,
  .freeBox__s0Mrn
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__br5ME {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 128px;
  flex-shrink: 0;
}
.freeBox__br5ME > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__br5ME > :global(.__wab_flex-container) > *,
.freeBox__br5ME > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__br5ME > :global(.__wab_flex-container) > picture > img,
.freeBox__br5ME
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.iconLink__tdtFs:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.svg__kdXR {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.freeBox__btPpR {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__dN9Ri {
  color: var(--token-aZnn-eHaRseE);
  font-size: 14px;
}
.root .link__dN9Ri:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.text__nfwAk {
  position: relative;
  font-size: 14px;
  color: var(--token-aZnn-eHaRseE);
}
.link__mnwfl {
  position: relative;
  color: var(--token-aZnn-eHaRseE);
  font-size: 14px;
}
.root .link__mnwfl:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.freeBox__hJ3Cy {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__hJ3Cy > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__hJ3Cy > :global(.__wab_flex-container) > *,
.freeBox__hJ3Cy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hJ3Cy > :global(.__wab_flex-container) > picture > img,
.freeBox__hJ3Cy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hJ3Cy {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hJ3Cy > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hJ3Cy > :global(.__wab_flex-container) > *,
  .freeBox__hJ3Cy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__hJ3Cy > :global(.__wab_flex-container) > picture > img,
  .freeBox__hJ3Cy
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__dfiEp {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__dfiEp > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__dfiEp > :global(.__wab_flex-container) > *,
.freeBox__dfiEp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dfiEp > :global(.__wab_flex-container) > picture > img,
.freeBox__dfiEp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__wFtOx {
  position: relative;
  font-weight: 700;
  font-size: 16px;
}
.link__dQfoB {
  font-size: 14px;
  position: relative;
  color: var(--token-aZnn-eHaRseE);
}
.root .link__dQfoB:hover {
  color: var(--token-NEon4Y--Z);
}
.link__yRKiE {
  position: relative;
  color: var(--token-aZnn-eHaRseE);
  font-size: 14px;
}
.root .link__yRKiE:hover {
  color: var(--token-NEon4Y--Z);
}
.link__zuQzu {
  position: relative;
  color: var(--token-aZnn-eHaRseE);
  font-size: 14px;
}
.root .link__zuQzu:hover {
  color: var(--token-NEon4Y--Z);
}
.link__cQdho {
  position: relative;
  color: var(--token-aZnn-eHaRseE);
  font-size: 14px;
}
.root .link__cQdho:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__tiKcE {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__tiKcE > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__tiKcE > :global(.__wab_flex-container) > *,
.freeBox__tiKcE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tiKcE > :global(.__wab_flex-container) > picture > img,
.freeBox__tiKcE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__gNcVt {
  position: relative;
  font-weight: 700;
  font-size: 16px;
}
.link___7GtZ8 {
  position: relative;
  color: var(--token-aZnn-eHaRseE);
  font-size: 14px;
}
.root .link___7GtZ8:hover {
  color: var(--token-NEon4Y--Z);
}
.link__callL {
  position: relative;
  color: var(--token-aZnn-eHaRseE);
  font-size: 14px;
}
.root .link__callL:hover {
  color: var(--token-NEon4Y--Z);
}
.link__vkfc8 {
  position: relative;
  color: var(--token-aZnn-eHaRseE);
  font-size: 14px;
}
.root .link__vkfc8:hover {
  color: var(--token-NEon4Y--Z);
}
.link__vdLqp {
  position: relative;
  color: var(--token-aZnn-eHaRseE);
  font-size: 14px;
}
.root .link__vdLqp:hover {
  color: var(--token-NEon4Y--Z);
}
.link__ueCfN {
  position: relative;
  color: var(--token-aZnn-eHaRseE);
  font-size: 14px;
}
.root .link__ueCfN:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__r7Caw {
  flex-direction: column;
  display: flex;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__r7Caw > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__r7Caw > :global(.__wab_flex-container) > *,
.freeBox__r7Caw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__r7Caw > :global(.__wab_flex-container) > picture > img,
.freeBox__r7Caw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__fuiyW {
  position: relative;
  font-weight: 700;
  font-size: 16px;
}
.link___6H3Cm {
  position: relative;
  color: var(--token-aZnn-eHaRseE);
  font-size: 14px;
}
.root .link___6H3Cm:hover {
  color: var(--token-NEon4Y--Z);
}
.link__domo {
  position: relative;
  color: var(--token-aZnn-eHaRseE);
  font-size: 14px;
}
.root .link__domo:hover {
  color: var(--token-NEon4Y--Z);
}
.link__xgWw5 {
  position: relative;
  color: var(--token-aZnn-eHaRseE);
  font-size: 14px;
}
.root .link__xgWw5:hover {
  color: var(--token-NEon4Y--Z);
}
.link___4FSqb {
  position: relative;
  color: var(--token-aZnn-eHaRseE);
  font-size: 14px;
}
.root .link___4FSqb:hover {
  color: var(--token-NEon4Y--Z);
}
.link__rNnq3 {
  position: relative;
  color: var(--token-aZnn-eHaRseE);
  font-size: 14px;
}
.root .link__rNnq3:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__uZEu7 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 200px;
  flex-shrink: 0;
}
.freeBox__uZEu7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__uZEu7 > :global(.__wab_flex-container) > *,
.freeBox__uZEu7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uZEu7 > :global(.__wab_flex-container) > picture > img,
.freeBox__uZEu7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__kd6Mn {
  position: relative;
  font-weight: 700;
  font-size: 16px;
}
.text__q3Aex {
  position: relative;
  font-size: 14px;
  color: var(--token-aZnn-eHaRseE);
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__ul6A6 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button:global(.__wab_instance) {
  position: relative;
}
.svg__qNoUz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-p-fCTrfjtL4);
  width: 1em;
  height: 1em;
}
.svg___0Ud8U {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: #1877f2;
}
.svg___1Zmk6 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox___6Knq2 {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-wH7vxLqpILZx);
}
.freeBox__rHsPt {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: var(--token-5oNedL0sHM0z);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__rHsPt > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rHsPt {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rHsPt > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rHsPt > :global(.__wab_flex-container) > *,
  .freeBox__rHsPt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__rHsPt > :global(.__wab_flex-container) > picture > img,
  .freeBox__rHsPt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__zrUJ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__epYt9 {
  position: relative;
  color: var(--token-aZnn-eHaRseE);
  height: auto;
  font-size: 14px;
}
.root .link__epYt9:hover {
  text-decoration-line: underline;
}
.link___7SmvV {
  position: relative;
  color: var(--token-aZnn-eHaRseE);
  font-size: 14px;
}
.root .link___7SmvV:hover {
  text-decoration-line: underline;
}
.text__fhAo8 {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: var(--token-aZnn-eHaRseE);
}
.freeBox__crS16 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__crS16 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__crS16 > :global(.__wab_flex-container) > *,
.freeBox__crS16 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__crS16 > :global(.__wab_flex-container) > picture > img,
.freeBox__crS16
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink__ryssr:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__buQu {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__buQu:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink___1PmNv:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___8AcZl {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg___8AcZl:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__xVwfi:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___5FUua {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg___5FUua:hover {
  color: var(--token-dph1wZ7NjV9);
}
